.main-carousel {
  position: relative;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  /* background-color: #313153; */
}

.carousel-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.carousel-container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 348px;
  width: 1260px;
  overflow: hidden;
  transition: all 300ms ease;
}

.carousel-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: inset -44px 0px 17px -24px rgba(0, 0, 0, 0.7),
    inset 44px 0px 17px -24px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset -44px 0px 17px -24px rgba(0, 0, 0, 0.7),
    inset 44px 0px 17px -24px rgba(0, 0, 0, 0.7);
  box-shadow: inset -44px 0px 17px -24px rgba(0, 0, 0, 0.7),
    inset 44px 0px 17px -24px rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.spin-me {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 180px;
  cursor: pointer;
  -webkit-user-select: none;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  color: #5c4e00;
  border: #5c4e00 3px solid;
  transition: all 200ms ease;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.spin-me:hover {
  background-color: rgb(237, 239, 245);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  color: #64591c;
  border: #64591c 3px solid;
}

.arrow {
  position: absolute;
  background-color: black;
  opacity: 0.8;
  height: 348px;
  width: 6px;
  left: 627px;
  z-index: 2;
  top: -100%;
  transition: transform 500ms ease-out;
}

.display-winner {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 0;
  font-size: 50px;
  align-self: center;
  opacity: 0;
  transition: all 300ms ease;
  font-family: "Oswald";
  -webkit-user-select: none;
}

.display-winner::after {
  display: flex;
  justify-content: center;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-bottom: 4px black solid;
  transition: all 200ms ease-in-out;
  pointer-events: none;
  transform: scaleX(0);
}

.display-winner:hover::after {
  transform: scaleX(1);
}

.carousel {
  display: flex;
  height: 100%;
  transform: translateX(-100px);
  -webkit-transition: transform 2000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: transform 2000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: transform 2000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 2000ms cubic-bezier(0.165, 0.84, 0.44, 1); /* easeOutQuart */
}

.virtual-container {
  display: flex;
  height: 100%;
}
.real-container {
  display: flex;
  height: 100%;
}

.each-image {
  width: 210px;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  border: 4px outset #000;
  /* box-shadow: rgba(0, 0, 0, 0.7) 3px 3px 3px; */
}

/* .virtual-image {
  border-bottom: red solid 2px;
} */
.anime-quickdesc {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 10px;
  padding-left: 10px;
}

.anime-quickdesc a {
  text-decoration: none;
  color: white;
}
