#section1 {
  background-image: url("https://i.ibb.co/dprMmbH/g3.jpg");
  /* background-image: url("https://i.ibb.co/V332V4V/bluppls.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
  height: 100vh;
}
.landing-center {
  color: white;
  /* background-color: violet; */
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-header {
  /* background-color: blueviolet; */
  font-size: 80px;
  font-family: "Anton";
  letter-spacing: 7px;
}
.landing-header span {
  color: #00bcd4;
}
.landing-subheading {
  font-weight: normal;
  margin-top: 15px;
}
.buttons {
  display: flex;
  /* flex: 1; */
  width: 100%;
  justify-content: space-evenly;
  height: 60px;
  margin-top: 100px;
}
.mal-button {
  border: 3px solid #f1f1f1;
  border-radius: 3px;
  font-family: "Orbitron";
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
  transition: all 300ms ease;
  -webkit-user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  width: 260px;
}

.mal-button:hover {
  background-color: #f1f1f1;
  /* border-color: #00bcd4; */
  color: #444444;
}

.mal-button:hover::after {
  opacity: 1;
}

.mal-button img {
  height: 100%;
  padding-bottom: 3px;
}

.custom-button {
  border: 3px solid #f1f1f1;
  border-radius: 3px;
  font-family: "Orbitron";
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
  transition: all 300ms ease;
  -webkit-user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  width: 260px;
}
.custom-button:hover {
  background-color: #f1f1f1;
  color: #444444;
  /* border-color: #00bcd4; */
}
